/*Called from nuxt.config.ts*/ 

body {
  margin: 0;
  background: linear-gradient(to bottom, #24273a, #181926, black); /*Catppuccin Macchiato Base*/
}

/* Catppuccin Machiato Mantle*/
header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;
}

header .left {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-left: 20px;
}

header .right {
  display: flex;
  justify-content: right;
  width: 100%;
  padding-right: 20px;
  gap: 20px;
}

/* Catppuccin Macchiato Text*/
.text {
  color: #cad3f5;
}

.title-font {
  font-family: Oswald;
  font-weight: 700;
}

.intro-font {
  font-family: Lato;
  font-weight: 700;
}

.intro-font-bold { 
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.accent {
  color: #eed49f;
}

.left-text {
  text-align: left;
}

/* Catppuccin Macchiato Surface 2 */
.gray-text {
  color:#5b6078
}

/* Catppuccin Macchiato Surface 0*/
.dark-gray-text {
  color: #363a4f;
}

.name-title {
  font-size: 35px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
}

.no-select {
  user-select: none;
}

/* Catppuccin Macchiato Surface 2 */
.tab-title Check out my other projects like IoT, open source projects, animations, video, experiments, minigames, archived stuff{
  font-size: 23px;
  margin: 0;
  padding-top: 5px;

  transition: color 0.2s ease;
  text-decoration: none;
}

.glow-on-hover {
  transition: color 0.2s ease;
}

.glow-on-hover:hover {
  color: #cad3f5; /* same as .text */
  cursor: pointer;
}

.grow-on-hover {
  transform-origin: center center;
  transition: transform 0.2s ease;
}

.grow-on-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.intro {
  width: 100%;
  height: 100%;
  min-height: 100%;

  display: flex;
  position: relative; 
}

.guide-bar {
  left: calc(25% - 50px);
  top: 460px;
  bottom: 0;
  position: absolute;
  display: inline-block;
  width: 2px;
  height: calc(100% - 470px - 140px);
  background-color: #eed49f;
}

.intro-sections {
  width: 100%;
}

.intro-title {
  font-size: 40px;
  margin: 0;
  display: block;
}

.intro-title-end {
  margin-bottom: 20px;
}

.title-sections-text {
  z-index: -1;
  font-size: 150px;

  margin: 0px 0px 0px 0px;
}

.name-intro-section {
  height: 900px;
  padding-top: 100px;
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.intro-section {
  display: flex;
  height: 600px;
  width: 100%;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.intro-section-container {
  display: flex;
  width: 50%;
  height: 70px;

  flex-direction: column;

  justify-content: center;
  align-items: left;
}

.start-text {
  margin: 0 0 20px 0;
}
