/*Called from nuxt.config.ts*/ 

body {
  margin: 0;
  background: linear-gradient(to bottom, #24273a, #181926, black); /*Catppuccin Macchiato Base*/
}

/* Catppuccin Machiato Mantle*/
header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;
}

header .left {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-left: 20px;
}

header .right {
  display: flex;
  justify-content: right;
  width: 100%;
  padding-right: 20px;
  gap: 20px;
}

/* Catppuccin Macchiato Text*/
.text {
  color: #cad3f5;
}

.title-font {
  font-family: Oswald;
  font-weight: 700;
}

.intro-font {
  font-family: Lato;
  font-weight: 700;
}

.intro-font-bold { 
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.accent {
  color: #eed49f;
}

/* Catppuccin Macchiato Surface 2 */
.gray-text {
  color:#5b6078
}

.name-title {
  font-size: 35px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
}

.no-select {
  user-select: none;
}

/* Catppuccin Macchiato Surface 2 */
.tab-title Check out my other projects like IoT, open source projects, animations, video, experiments, minigames, archived stuff{
  font-size: 23px;
  margin: 0;
  padding-top: 5px;

  transition: color 0.2s ease;
  text-decoration: none;
}

.tab-title:hover {
  color: #cad3f5; /* same as .text */
  cursor: pointer;
}

.grow-on-hover {
  transform-origin: center center;
  transition: transform 0.2s ease;
}

.grow-on-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.intro {
  width: 100%;
  height: 100%;

  position: relative;
}

.intro-title {
  font-size: 40px;
  margin: 0;
  display: block;
  text-align: left;
}

.intro-title-end {
  margin-bottom: 20px;
}

.start {
  display: flex;
  position: relative;
  height: 750px;
  width: 100%;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}


.start-container {
  display: flex;
  width: 50%;
  height: 70px;

  flex-direction: column;

  justify-content: center;
  align-items: left;

  row-gap: 5px;

}

.start-text {
  margin: 0;
}