/*Called from nuxt.config.ts*/ 

body {
  margin: 0;
  background: linear-gradient(to bottom, #24273a, #181926, black); /*Catppuccin Macchiato Base*/
}

/* Catppuccin Machiato Mantle*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  width: 100%;
  height: 80px;
}

header .left {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-left: 20px;
}

@media (min-width: 600px) {
  header .right-mobile {
    display: none;
  }

  header .right-desktop {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  header .right-desktop { 
    display: none;
  }

  header .right-mobile {
    display: flex;
    position: relative;
    background-color: #1e2030;
    border: 0;
    width: 20px;
    border-radius: 10px;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
}

/* Catppuccin Macchiato Text*/
.text {
  color: #cad3f5;
}

.title-font {
  font-family: Oswald;
  font-weight: 700;
}

.intro-font {
  font-family: Lato;
  font-weight: 700;
}

.intro-font-bold { 
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.accent {
  color: #8bd5ca;
}

.other-accent {
  color: #b7bdf8;
}

.left-text {
  text-align: left;
}

/* Catppuccin Macchiato Surface 2 */
.gray-text {
  color:#5b6078
}

/* Catppuccin Macchiato Surface 0*/
.dark-gray-text {
  color: #363a4f;
}

.name-title {
  font-size: 35px;
  margin: 0;
  display: inline-block;
  text-decoration: none;
}

.no-select {
  user-select: none;
}

/* Catppuccin Macchiato Surface 2 */
.tab-title {
  font-size: 23px;
  margin: 0;
  padding-top: 5px;

  transition: color 0.2s ease;
  text-decoration: none;
}

.glow-on-hover {
  transition: color 0.2s ease;
}

.glow-on-hover:hover {
  color: #cad3f5; /* same as .text */
  cursor: pointer;
}

.grow-on-hover {
  transform-origin: center center;
  transition: transform 0.2s ease;
}

.grow-on-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 50px;
  background-color: #1e2030;
  border: none;
  border-radius: 10px;
}

.mobile-menu {
  width: 100px;
  top: 50px;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #181926;
  z-index: 100;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.mobile-menu.open {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.intro {
  width: 100%;
  height: 100%;
  min-height: 100%;

  display: flex;
  position: relative; 
}

.guide-bar {
  left: calc(25% - 50px);
  top: 450px;
  bottom: 0;
  position: absolute;
  display: inline-block;
  width: 2px;
  height: calc(100% - 470px - 120px);
  background-color: #8bd5ca;
}

.intro-sections {
  width: 100%;
}

@media (max-width: 750px) {
  .intro-title {
    font-size: 30px;
    margin: 0;
    display: block;
  }
}

@media (min-width: 750px) {
  .intro-title {
    font-size: 40px;
    margin: 0;
    display: block;
  }  
}

.intro-title-end {
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  .title-sections-text {
    font-size: 150px;

    margin: 0;
  } 
} 

@media (max-width: 1000px) {
  .title-sections-text {
    font-size: 100px;
    margin: 0;
  } 
}

@media (max-width: 700px) {
  .title-sections-text {
    font-size: 75px;
  } 
}

.name-intro-section {
  height: 900px;
  padding-top: 100px;
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.intro-section {
  display: flex;
  height: 600px;
  width: 100%;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.intro-section-container {
  display: flex;
  width: 50%;
  height: 70px;

  flex-direction: column;

  justify-content: center;
  align-items: left;
}

.start-text {
  margin: 0 0 20px 0;
}
