/*Called from nuxt.config.ts*/ 

body {
  margin: 0;
  background-color: #24273a; /*Catppuccin Macchiato Base*/
}

/* Catppuccin Machiato Mantle*/
header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;
}

header .left {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-left: 20px;
}

header .right {
  display: flex;
  justify-content: right;
  width: 100%;
  padding-right: 20px;
  gap: 20px;
}

/* Catppuccin Macchiato Text*/
.text {
  color: #cad3f5;
}

.title-font {
  font-family: Oswald;
  font-weight: 700;
}

.accent {
  color: #eed49f;
}

.name-title {
  font-size: 35px;
  margin: 0;
  user-select: none;
  display: inline-block;
}

/* Catppuccin Macchiato Surface 2 */
.tab-title {
  font-size: 23px;
  margin: 0;
  padding-top: 5px;
  color: #5b6078;
}

.grow-on-hover {
  transform-origin: center center;
  transition: transform 0.2s ease;
}

.grow-on-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}